<div class="bg-blue p-3">
  <div class="row mt-2 text-white">
    <div class="col text-center">
      <img style="margin-top: -10px;" src="../assets/logo.PNG" height="50px" width="120px">
    </div>
    <div class="col-1">
      Dashboard
    </div>
    <div class="col">
      Available Themes
    </div>
    <div class="col-1">
      Website List
    </div>
    <div class="col">
      Manage Orders
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col text-right pr-4">
      <i class="fa fa-user-circle fa-3x" style="background-color: rgb(43, 43, 43); color: lightblue; border-radius: 50%; margin-top: -10px !important;"></i>
    </div>
  </div>
</div>

<div class="row pt-3 pl-5">
  <i class="fa fa-home" style="color: gray;"><span class="ml-2">Dashboard / Website Overview</span></i>
</div><hr>



<div class="row pr-4 pb-3" style="border-bottom: 1px solid lightgrey; box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.1);">
  <div class="col-9 text-center" text-center style="color: gray;">
    https://websitetesting.minutepages.com
  </div>
  <div class="col-1" text-center>
    <button mat-raised-button class="bg-blue text-white" style="width: 100px;">Wp Admin</button>
  </div>
  <div class="col-1" text-center>
    <button mat-raised-button class="bg-blue text-white" style="width: 100px;">Publish</button>
  </div>
  <div class="col-1" text-center>
    <button mat-raised-button class="bg-danger text-white" style="width: 100px;">Preview</button>
  </div>
</div>



<div  class="row" style="background-color: rgb(241, 244, 255); margin-top: 4px;">

  <div class="col-2 mt-5 mb-5 bg-white" style="box-shadow: 1px 1px 1px 1px rgba(146, 146, 146, 0.1);">
    <ul style="list-style: none;" class="mt-5 mb-5">
      <li>Overview</li>
      <li>Plugins</li>
      <li>Themes</li>
      <li>Review This Themes</li>
      <li>Blog Add-on</li>
      <li>Location Page Add-on</li>
      <li>SEO Add-on</li>
      <li>SMO Add-on</li>
      <li>PPC Add-on</li>
    </ul>
  </div>


  <div class="col-10">


    <div class="row p-3">

      <div class="col bg-white ml-2 mr-2">

        <div class="row mt-2 pr-3 pl-2" style="margin-bottom: -15px;">
          <div class="col">
            <h5>Updates</h5>
          </div>

          <div class="col text-right">
            <p style="color: gray;">Total Updates : 6</p>
          </div>
        </div>
        <hr>

        <div class="row text-center text-white">

          <div class="col text-center" style="border-bottom: 2px solid rgb(128, 158, 214);">
            <p class="bg-warning p-2 ml-4" style="word-wrap: break-word;border-radius: 10px; width: 100px; height: 80px;"><strong style="font-size: 17px;">4</strong><br> Plugin</p>
          </div>
          <div class="col text-center">
            <p class="bg-success p-2 ml-4" style="word-wrap: break-word; border-radius: 10px;width: 100px; height: 80px;"><strong style="font-size: 17px;">1</strong><br> Theme</p>
          </div>
          <div class="col text-center">
            <p class="bg-primary p-2 ml-4" style="word-wrap: break-word;border-radius: 10px; width: 100px; height: 80px;"><strong style="font-size: 17px;">1</strong><br> Wordpress</p>
          </div>
        </div>




        <div class="row mt-3">
          <div class="col-2">
            <p class="p-3" style="background-color: lightgrey; border-radius: 5px;"><i class="fa fa-plug fa-2x ml-1" style="color: gray;"></i></p>
          </div>
          <div class="col-10">
            <div class="row">
            <p style="font-size: 20px;" class="float-left"><strong>Gravity Forms</strong></p>
            <p class="float-right" style="color: gray; margin-left: 250px;">Version <strong>2.4.20</strong></p>
             </div>
            <p style="color: gray;">Easily create web forms and manage form entries within the Wordpress admin.</p>
            <div style="background-color: lightyellow; border-left: 4px solid #ece35b; padding: 10px;">
              There is a new version of Gravity forms available new version <span style="color:mediumblue">2.4.22</span> or <span style="color:mediumblue">update now</span>
            </div>
          </div>
        </div>


        <hr>

        <div class="row mt-3 pb-3">
          <div class="col-2">
            <p class="p-3" style="background-color: lightgrey; border-radius: 5px;"><i class="fa fa-plug fa-2x ml-1" style="color: gray;"></i></p>
          </div>
          <div class="col-10">
            <div class="row">
            <p style="font-size: 20px;" class="float-left"><strong>MainWP Child</strong></p>
            <p class="float-right" style="color: gray; margin-left: 270px;">Version <strong>4.1</strong></p>
             </div>
            <p style="color: gray;">Provides a secure connection between your MainWP Dashboard and your wrodpress sites. MainWP allows you to manage WP sites from one central location. Plugin documentation and options can be found here.</p>
            <p style="color: lightgray; margin-top: -20px;">https://mainwp.com/help</p>

            <a href="" class="float-right mr-3">View all >></a>
          </div>
        </div>
        
      </div>






      <div class="col pl-4 pr-4 bg-white ml-3 mr-3">
        <div class="mt-2">
          <h5>Site Info</h5>
        </div>
        <hr>

        <div class="row">
          <div class="col" style="color: gray;">
            <strong>Title</strong>
          </div>
          <div class="col" style="color: gray;">
            <strong>Details</strong>
          </div>
        </div>
        <hr>

        <div *ngFor="let info of detailsiteinfo">
        <div class="row">
          <div class="col" style="color: gray;">
            {{info.title}}
          </div>
          <div class="col" style="color: gray;">
            {{info.details}}
          </div>
        </div>
        <hr>
      </div>

      </div>
    </div>


    <div class="row p-3 pl-2 mt-3 ml-2 mr-3 bg-white">
      <div class="col">
        <h5>Recent Posts</h5>
        <hr>
      
        <div class="row">
          <div class="col-4" style="color: gray;">
            <strong>Title</strong>
          </div>
          <div class="col-3 text-center" style="color: gray;">
            <strong>Category</strong>
          </div>
          <div class="col-3 text-center" style="color: gray;">
            <strong>Date</strong>
          </div>
          <div class="col-2 text-center" style="color: gray;">
            <strong>Action</strong>
          </div>
        </div>
        <hr>


        <div class="row">
          <div class="col-4 pr-5" style="color: gray;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </div>
          <div class="col-3 text-center" style="color: gray;">
            Real Estate
          </div>
          <div class="col-3 text-center" style="color: gray;">
            October 15, 2020 (MST)
          </div>
          <div class="col-2 text-center" style="color: gray;">
            <button class="bg-primary"><i class="fa fa-pencil" aria-hidden="true"></i></button>
          </div>
        </div>
        <hr>


        <div class="row">
          <div class="col-4 pr-5" style="color: gray;">
            Placeholder text commonly used in the graphics.
          </div>
          <div class="col-3 text-center" style="color: gray;">
            Real Estate
          </div>
          <div class="col-3 text-center" style="color: gray;">
            October 15, 2020 (MST)
          </div>
          <div class="col-2 text-center" style="color: gray;">
            <button class="bg-primary"><i class="fa fa-pencil" aria-hidden="true"></i></button>
          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-4 pr-5" style="color: gray;">
            Lorem ipsum is a placeholder text commonly used in the graphics.
          </div>
          <div class="col-3 text-center" style="color: gray;">
            Real Estate
          </div>
          <div class="col-3 text-center" style="color: gray;">
            October 15, 2020 (MST)
          </div>
          <div class="col-2 text-center" style="color: gray;">
            <button class="bg-primary"><i class="fa fa-pencil" aria-hidden="true"></i></button>
          </div>
        </div>


      </div>
    </div>




    <div class="row p-3 pl-2 mt-5 mb-5 ml-2 mr-3 bg-white">
      <div class="col">
        <h5>Recent Pages</h5>
        <hr>
      
        <div class="row">
          <div class="col-6" style="color: gray;">
            <strong>Title</strong>
          </div>
          <div class="col-3 text-center" style="color: gray;">
            <strong>Date</strong>
          </div>
          <div class="col-3 text-center" style="color: gray;">
            <strong>Action</strong>
          </div>
        </div>
        <hr>


        <div class="row">
          <div class="col-6 pr-5" style="color: gray;">
            Thank you
          </div>
          <div class="col-3 text-center" style="color: gray;">
            October 20, 2020 (MST)
          </div>
          <div class="col-3 text-center" style="color: gray;">
            <button class="bg-primary"><i class="fa fa-pencil" aria-hidden="true"></i></button>
          </div>
        </div>
        <hr>


        <div class="row">
          <div class="col-6 pr-5" style="color: gray;">
            Home
          </div>
          <div class="col-3 text-center" style="color: gray;">
            October 19, 2020 (MST)
          </div>
          <div class="col-3 text-center" style="color: gray;">
            <button class="bg-primary"><i class="fa fa-pencil" aria-hidden="true"></i></button>
          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-6 pr-5" style="color: gray;">
            Privacy Policy
          </div>
          <div class="col-3 text-center" style="color: gray;">
            December 24, 2020 (MST)
          </div>
          <div class="col-3 text-center" style="color: gray;">
            <button class="bg-primary"><i class="fa fa-pencil" aria-hidden="true"></i></button>
          </div>
        </div>


      </div>
    </div>

  </div>
</div>


<router-outlet></router-outlet>